<div class="row">
    <div class="col-md-12 text-center">
        <h1>Centro de enseñanza</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-if="vm.comments.length === 0">
        No hay historial de comentarios
    </div>
    <div class="col-md-12" ng-if="vm.comments.length > 0">
        <h2>Comentarios</h2>
        <table class="table table-striped">
            <tr ng-repeat="comment in vm.comments">
                <td ng-switch on="comment.element_type">
                    <div>{{ comment.created_at }}</div>
                    <div ng-switch-when="Magia\Models\Result\Result">
                        <strong>Resultado: </strong> {{ comment.element.name }}
                    </div>
                    <div ng-switch-when="Magia\Models\Result\ResultPhrase">
                        <strong>Frase resultado: </strong> {{ comment.element.detail }}
                    </div>
                    <div ng-switch-when="Magia\Models\Result\Failed">
                        <strong>Fallido: </strong> {{ comment.element.uncover }}
                    </div>
                    <div>
                        <strong>Comentario: </strong>{{ comment.comment }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="new_line"></div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <tr ng-repeat="item in vm.history_table">
                <td>
                    <span class="glyphicon glyphicon-{{ item.icon }}"></span>
                </td>
                <td>{{ item.time }}</td>
                <td>
                    <div class="{{ item.class }}">{{ item.detail }}</div>
                    <div ng-repeat="comment in item.comments"><strong>Comentario: </strong>{{ comment.comment }}</div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="vm.modalComment(item.id, item.type)">
                        <span class="glyphicon glyphicon-comment"></span>
                    </button>
                    <button type="button" class="btn" 
                                ng-click="vm.updateNotification(item.id, item.type, item.notification)"
                                ng-class="item.notification === 1 ? 'btn-success' : 'btn-default'">
                        <span class="glyphicon glyphicon-hand-up"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
