<div class="row">
    <div class="col-md-12 text-right">
        <button id="btn-add" class="btn btn-default" ng-click="vm.backToHome()">
            <span class="glyphicon glyphicon-chevron-left"></span> Volver al inicio
        </button>
    </div>
</div>

<div class="row row__highlight">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h5>{{ vm.result.name }}</h5>
    </div>
    <div class="col-md-12 text-center">
        <h3>{{ vm.result.result_phrases[0].detail }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 text-right">
        <button class="btn btn-success"
                ng-show="!vm.flag_new_situation"
                ng-click="vm.flag_new_situation = true">
            <span class="glyphicon glyphicon-plus"></span> Nueva situación
        </button>
    </div>
    <div class="col-md-10 col-md-offset-1 text-center row__toogle"
                ng-show="vm.flag_new_situation">
        <form class="form-horizontal" name="situation"
                ng-submit="vm.createSituation()">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="new_line"></div>
                    <div class="form-group">
                        <label>Paso</label>
                        <select class="form-control"
                                ng-model="vm.new_situation.step">
                            <option ng-repeat="step in vm.steps" value="{{ step.id }}">
                                {{ step.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="name" 
                               ng-model="vm.new_situation.name"
                               ng-required="true">
                        <span class="text-danger" ng-show="situation.name.$invalid && situation.name.$touched">
                            El nombre de la situación es un campo obligatorio
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Detalle</label>
                        <textarea type="text" class="form-control" name="detail" 
                                  ng-model="vm.new_situation.detail"></textarea>
                    </div>
                    <button type="button" class="btn btn-default"
                            ng-click="vm.cancelEditSituation()">
                        <label class="glyphicon glyphicon-erase"></label> Cancelar
                    </button>
                    <button type="submit" class="btn btn-success"
                            ng-disabled="situation.$invalid || vm.btn_waiting_save_situation">
                        <label class="glyphicon glyphicon-floppy-disk"></label> Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div class="new_line"></div>
        <div class="panel panel-default" ng-repeat="step in vm.steps">
            <div class="panel-heading">
                <strong>{{ step.name }}</strong>
            </div>
            <div class="panel-body">
                <div ng-repeat="situation in step.situations">
                    <strong>{{ situation.name }}</strong>
                    <button class="btn btn-default btn-xs" title="Editar"
                            ng-click="vm.editSituation(situation)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <p>{{ situation.detail }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>