<div class="row row__highlight">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h3>{{ vm.result.name }}</h3>
    </div>
    <div class="col-md-12 text-center">
        <div class="new_line"></div>
        <p>{{ vm.result.result_phrases[0].detail }}</p>
    </div>
</div>

<div class="row">
    <table class="table table-striped">
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>Métodos</th>
            <th></th>
        </tr>
        <tr ng-repeat="situation in vm.situations">
            <td>{{ situation.created_at }}</td>
            <td>{{ situation.name }}</td>
            <td>{{ situation.detail }}</td>
            <td>
                <span ng-repeat="method in situation.methods">
                    <button class="btn btn-xs btn-list"
                            ng-class="method.name === vm.method_selected? 'btn-primary' : 'btn-default'">
                        {{ method.name }}
                    </button> 
                </span>
            </td>
        </tr>
    </table>
</div>